<div
  *ngIf="lobby$ | async as lobby"
  class="flex flex-col items-center content-center gap-10"
>
  <mat-chip-set aria-label="Requirements to start">
    <mat-chip highlighted [color]="teamsAreEven(lobby) ? 'primary' : 'warn'">
      Teams are {{ teamsAreEven(lobby) ? "" : "not " }} even
      <mat-icon matChipTrailingIcon>
        {{ teamsAreEven(lobby) ? "check_circle_outline" : "error_outline" }}
      </mat-icon>
    </mat-chip>
    <mat-chip
      highlighted
      [color]="teamsAreBothTwoPus(lobby) ? 'primary' : 'warn'"
    >
      Each team {{ teamsAreBothTwoPus(lobby) ? "has" : "needs" }} 2+ players
      <mat-icon matChipTrailingIcon>
        {{
          teamsAreBothTwoPus(lobby) ? "check_circle_outline" : "error_outline"
        }}
      </mat-icon>
    </mat-chip>
  </mat-chip-set>
  <div class="flex flex-row items-center content-center gap-10">
    <mat-card appearance="outlined">
      <mat-list role="list">
        <div mat-subheader>Blue Team</div>
        <mat-list-item role="listitem" *ngFor="let player of lobby?.blue_team">
          {{ player.nickname }}
        </mat-list-item>
      </mat-list>
    </mat-card>
    <mat-card appearance="outlined">
      <mat-list role="list">
        <div mat-subheader>Red Team</div>
        <mat-list-item role="listitem" *ngFor="let player of lobby?.red_team">
          {{ player.nickname }}
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>
  <div class="flex flex-row items-center content-center gap-10">
    <a mat-button routerLink="/">Leave</a>
    <button type="button" mat-button (click)="changeTeam()">Change Team</button>
    <button
      type="button"
      mat-button
      (click)="startGame()"
      [disabled]="!canStart(lobby)"
    >
      Start Game
    </button>
  </div>
</div>
